body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 18px 240px;
  background-color: #1f2937;
}

ul {
  margin: 0;
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
  padding: 0;
  color: #e5e7eb;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bolder;
}

.hero {
  display: flex;
  background-color: #1f2937;
  padding: 60px 240px;
  gap: 80px;
}

img {
  width: 500px;
  height: auto;
}
.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}
.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  border: none;
  color: white;
  font-size: 24px;
  padding: 10px 24px;
  border-radius: 12px;
}

.square {
  width: 100px;
  height: 100px;
  border: 2px solid blue;
  border-radius: 12px;
  margin: auto;
}

.square-div {
  display: flex;
  gap: 8px;
}

.squares {
  text-align: center;
}

.carousel {
  padding: 48px 240px;
}

.carousel-text {
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  padding: 48px 240px;
}

.quote-text {
  font-size: 36px;
  font-weight: light;
  color: #1f2937;
  font-style: italic;
}

.quote-owner {
  text-align: end;
  font-size: 24px;
}

.cta {
  padding: 48px 240px;
}
.blue-cta {
  background-color: blue;
  display: flex;
  justify-content: space-between;
  padding: 18px 120px;
}

.cta-headline,
.cta-subline {
  margin: 0;
  color: white;
}

.cta-headline {
  font-size: 24px;
}

.cta-button {
  border: 2px solid white;
  padding: 0 24px;
}

footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
}
